:host ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 6px !important;
  padding-left: 24px;
  padding-right: 24px;
  overflow-x: hidden;
  max-width: 90vw;
  width: clamp(280px, 50vw, 400px);
}

mat-dialog-content {
  padding: 20px 0;
  overflow-x: hidden;
}

mat-dialog-actions {
  padding: 8px 0;
  gap: 8px;
}
