<div class="tags-container">
  <mat-form-field appearance="outline" class="tag-input-field">
    <mat-label>Tags</mat-label>
    <input
      matInput
      [(ngModel)]="currentTag"
      (keydown.enter)="addTag($event)"
      (keydown.comma)="addTag($event)"
      placeholder="Ajouter un tag (Enter ou ,)"
      [disabled]="disabled"
    />
  </mat-form-field>

  @if (tags.length > 0) {
    <mat-chip-set class="tags-list">
      @for (tag of tags; track tag) {
        <mat-chip
          [removable]="!disabled"
          (removed)="removeTag(tag)"
        >
          {{ tag }}
          @if (!disabled) {
            <mat-icon matChipRemove>cancel</mat-icon>
          }
        </mat-chip>
      }
    </mat-chip-set>
  }
</div>
